.elements {
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fill, 282px);
  justify-content: center;
  max-width: 880px;
  margin: 48px auto 0;
  color: #000000;
}

@media screen and (max-width: 685px) {
  .elements {
    margin-top: 36px;
  }
}
