.popup__close-button {
  background-image: url(../../../image/close-icon-form.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 32px;
  min-height: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 685px) {
  .popup__close-button {
    min-width: 20px;
    min-height: 20px;
    top: -36px;
    right: 0;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
