.popup__container {
  background-color: #ffffff;
  color: #000000;
  padding: 34px 36px 37px;
  max-width: 75vw;
  max-height: 75vh;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 685px) {
  .popup__container {
    padding: 25px 22px;
  }
}
